In [1]:
import warnings
warnings.filterwarnings("ignore")
import shutil
import os
import pandas as pd
import matplotlib
matplotlib.use(u'nbAgg')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
import pickle
from sklearn.manifold import TSNE
from sklearn import preprocessing
import pandas as pd
from multiprocessing import Process# this is used for multithreading
import multiprocessing
import codecs# this is used for file operations 
import random as r
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import re
from nltk.util import ngrams

In [ ]:
def grams_generator(s,n):
    # to generate n grams of features
    tokens = [token for token in s[1:].split(",")if token != "" and token != "??" and token != "ID"]
    output = list(ngrams(tokens, n))
    r = ["".join(i) for i in output]
    r.insert(0,"ID")
    r.append("??")
    return r

In [ ]:
#removal of addres from byte files
# contents of .byte files
# ----------------
#00401000 56 8D 44 24 08 50 8B F1 E8 1C 1B 00 00 C7 06 08 
#-------------------
#we remove the starting address 00401000

files = os.listdir('byteFiles')
filenames=[]
array=[]
for file in tqdm(files):
    if(file.endswith("bytes")):
        file=file.split('.')[0]
        text_file = open('byteFiles/'+file+".txt", 'w+')
        with open('byteFiles/'+file+".bytes","r") as fp:
            lines=""
            for line in fp:
                a=line.rstrip().split(" ")[1:]
                b=' '.join(a)
                b=b+"\n"
                text_file.write(b)
            fp.close()
            os.remove('byteFiles/'+file+".bytes")
        text_file.close()

files = os.listdir('byteFiles')
filenames2=[]
feature_matrix = np.zeros((len(files),257),dtype=int)
k=0


#program to convert into bag of words of byteFiles
#this is custom-built bag of words this is unigram bag of words
byte_feature_file=open('result.csv','w+')
s = "ID,0,1,2,3,4,5,6,7,8,9,0a,0b,0c,0d,0e,0f,10,11,12,13,14,15,16,17,18,19,1a,1b,1c,1d,1e,1f,20,21,22,23,24,25,26,27,28,29,2a,2b,2c,2d,2e,2f,30,31,32,33,34,35,36,37,38,39,3a,3b,3c,3d,3e,3f,40,41,42,43,44,45,46,47,48,49,4a,4b,4c,4d,4e,4f,50,51,52,53,54,55,56,57,58,59,5a,5b,5c,5d,5e,5f,60,61,62,63,64,65,66,67,68,69,6a,6b,6c,6d,6e,6f,70,71,72,73,74,75,76,77,78,79,7a,7b,7c,7d,7e,7f,80,81,82,83,84,85,86,87,88,89,8a,8b,8c,8d,8e,8f,90,91,92,93,94,95,96,97,98,99,9a,9b,9c,9d,9e,9f,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,aa,ab,ac,ad,ae,af,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,ba,bb,bc,bd,be,bf,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,ca,cb,cc,cd,ce,cf,d0,d1,d2,d3,d4,d5,d6,d7,d8,d9,da,db,dc,dd,de,df,e0,e1,e2,e3,e4,e5,e6,e7,e8,e9,ea,eb,ec,ed,ee,ef,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,fa,fb,fc,fd,fe,ff,??"

byte_feature_file.write(",".join(grams_generator(s,2)))
byte_feature_file.write("\n")
for file in tqdm(files):
    filenames2.append(file)
    byte_feature_file.write(file+",")
    if(file.endswith("txt")):
        with open('byteFiles/'+file,"r") as byte_flie:
            for lines in byte_flie:
                line=lines.rstrip().split(" ")
                for hex_code in line:
                    if hex_code=='??':
                        feature_matrix[k][256]+=1
                    else:
                        feature_matrix[k][int(hex_code,16)]+=1
        byte_flie.close()
    for i, row in enumerate(feature_matrix[k]):
        if i!=len(feature_matrix[k])-1:
            byte_feature_file.write(str(row)+",")
        else:
            byte_feature_file.write(str(row))
    byte_feature_file.write("\n")
    
    k += 1

byte_feature_file.close()

In [2]:
byte_features=pd.read_csv("result.csv")
byte_features.rename(columns={"D0": "00"},inplace=True)
byte_features.head(5)

,ID,00,01,12,23,34,45,56,67,78,...,f6f7,f7f8,f8f9,f9fa,fafb,fbfc,fcfd,fdfe,feff,??
0,BrFQSqw8ejGomMlh6YtE.txt,21963,1359,747,955,1263,580,411,645,3737,...,31740,3447,229,180,1768,10513,20252,1491,8768,18400
1,3LNmCgSGtiMFrKJl2H5d.txt,20163,1344,752,919,985,563,451,773,2172,...,56840,2128,5695,2562,3272,688,491,2039,7395,19436
2,emB5kWbEAGX2YQLS6jpg.txt,55534,9442,360123,7898,4470,2512,2764,2479,4930,...,2201,2684,1861,1331,1487,2322,1529,2795,27729,13252
3,8NJoTALeEyqVa7GpwKFO.txt,125452,104556,99188,98854,12300,11641,12773,9589,10654,...,299,14069,216,206,229,12947,257,11802,46697,8892
4,AvSqZN4QKiLxhE2XCObo.txt,64068,23655,22687,22264,4246,2584,2768,2440,4520,...,1879,2303,1764,1281,1498,2315,1493,2153,25877,11468

## Size feature

In [3]:
#file sizes of byte files
Y=pd.read_csv("trainLabels.csv")
files=os.listdir('byteFiles')
filenames=Y['Id'].tolist()
class_y=Y['Class'].tolist()
class_bytes=[]
sizebytes=[]
fnames=[]
for file in files:
    statinfo=os.stat('byteFiles/'+file)
    # split the file name at '.' and take the first part of it i.e the file name
    file=file.split('.')[0]
    if any(file == filename for filename in filenames):
        i=filenames.index(file)
        class_bytes.append(class_y[i])
        # converting into Mb's
        sizebytes.append(statinfo.st_size/(1024.0*1024.0))
        fnames.append(file)
data_size_byte=pd.DataFrame({'ID':fnames,'size':sizebytes,'Class':class_bytes})
print (data_size_byte.head())

   Class                    ID       size
0      2  BrFQSqw8ejGomMlh6YtE   0.890625
1      2  3LNmCgSGtiMFrKJl2H5d   1.382812
2      2  emB5kWbEAGX2YQLS6jpg   3.518944
3      2  8NJoTALeEyqVa7GpwKFO  11.179688
4      2  AvSqZN4QKiLxhE2XCObo   3.461277

In [4]:
byte_features['ID'] =byte_features['ID'].map(lambda x: x.rstrip('.txt'))

In [5]:
byte_features_with_size = byte_features.merge(data_size_byte, on='ID')
byte_features_with_size.to_csv("result_with_size.csv")
byte_features_with_size.head(2)

,ID,00,01,12,23,34,45,56,67,78,...,f8f9,f9fa,fafb,fbfc,fcfd,fdfe,feff,??,Class,size
0,BrFQSqw8ejGomMlh6YtE,21963,1359,747,955,1263,580,411,645,3737,...,229,180,1768,10513,20252,1491,8768,18400,2,0.890625
1,3LNmCgSGtiMFrKJl2H5d,20163,1344,752,919,985,563,451,773,2172,...,5695,2562,3272,688,491,2039,7395,19436,2,1.382812

In [6]:
def normalize(df):
    result1 = df.copy()
    for feature_name in df.columns:
        if (str(feature_name) != str('ID') and str(feature_name)!=str('Class')):
            max_value = df[feature_name].max()
            min_value = df[feature_name].min()
            result1[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result1
result = normalize(byte_features_with_size)

In [7]:
data_y = result['Class']
result.head()

,ID,00,01,12,23,34,45,56,67,78,...,f8f9,f9fa,fafb,fbfc,fcfd,fdfe,feff,??,Class,size
0,BrFQSqw8ejGomMlh6YtE,0.016964,0.001913,0.000416,0.000515,0.000773,0.000328,0.000232,0.000594,0.003325,...,0.001001,0.000735,0.007783,0.120925,0.095078,0.007754,0.011954,0.001299,2,0.018213
1,3LNmCgSGtiMFrKJl2H5d,0.015573,0.001892,0.000418,0.000496,0.000603,0.000319,0.000254,0.000711,0.001933,...,0.024902,0.010458,0.014404,0.007914,0.002305,0.010603,0.010082,0.001372,2,0.029394
2,emB5kWbEAGX2YQLS6jpg,0.042893,0.013293,0.200358,0.004261,0.002736,0.001422,0.001558,0.002281,0.004387,...,0.008138,0.005433,0.006546,0.026709,0.007178,0.014535,0.037804,0.000936,2,0.077919
3,8NJoTALeEyqVa7GpwKFO,0.096896,0.147197,0.055184,0.053327,0.007530,0.006588,0.007201,0.008824,0.009480,...,0.000945,0.000841,0.001008,0.148922,0.001207,0.061374,0.063664,0.000628,2,0.251946
4,AvSqZN4QKiLxhE2XCObo,0.049484,0.033302,0.012622,0.012010,0.002599,0.001462,0.001560,0.002245,0.004022,...,0.007713,0.005229,0.006595,0.026628,0.007009,0.011196,0.035279,0.000810,2,0.076609

In [8]:
# split the data into test and train by maintaining same distribution of output varaible 'y_true' [stratify=y_true]
X_train, X_test, y_train, y_test = train_test_split(result.drop(['ID','Class'], axis=1), data_y,stratify=data_y,test_size=0.20)
# split the train data into train and cross validation by maintaining same distribution of output varaible 'y_train' [stratify=y_train]
X_train, X_cv, y_train, y_cv = train_test_split(X_train, y_train,stratify=y_train,test_size=0.20)

# ASM Files

In [9]:
dfasm=pd.read_csv("asmoutputfile.csv")
Y.columns = ['ID', 'Class']
result_asm = pd.merge(dfasm, Y,on='ID', how='left')
result_asm.head()

,ID,HEADER:,.text:,.Pav:,.idata:,.data:,.bss:,.rdata:,.edata:,.rsrc:,...,edx,esi,eax,ebx,ecx,edi,ebp,esp,eip,Class
0,01kcPWA9K2BOxQeS5Rju,19,744,0,127,57,0,323,0,3,...,18,66,15,43,83,0,17,48,29,1
1,1E93CpP60RHFNiT5Qfvn,17,838,0,103,49,0,0,0,3,...,18,29,48,82,12,0,14,0,20,1
2,3ekVow2ajZHbTnBcsDfX,17,427,0,50,43,0,145,0,3,...,13,42,10,67,14,0,11,0,9,1
3,3X2nY7iQaPBIWDrAZqJe,17,227,0,43,19,0,0,0,3,...,6,8,14,7,2,0,8,0,6,1
4,46OZzdsSKDCFV8h7XWxf,17,402,0,59,170,0,0,0,3,...,12,9,18,29,5,0,11,0,11,1

In [10]:
from array import array

In [16]:
def createPixelfeaturesonAsmFiles(filenames):
    # creating features for top 5000 pixels
    output = []
    columns = ['pxl_' + str(i) for i in range(5000)]
    columns.insert(0, 'Id')
    for fileName in tqdm(filenames):
        filePath = 'asmFiles/' + fileName
        with open(filePath,"rb") as asm_file:
            ln = os.path.getsize('asmFiles/'+fileName)
            width = int(ln**0.5)
            rem = ln%width
            a = array("B")
            a.fromfile(asm_file,ln-rem)
            g = np.reshape(a, (int(len(a)/width),width))
            np.clip(g, 0, 255, out=g)
            g = g.astype('uint8')
            g = list(g.reshape(1,-1)[0][:5000])
            g.insert(0,fileName)
            output.append(g)
    return pd.DataFrame(output,columns=columns)

In [17]:
filenames_asm = []
files=os.listdir('asmFiles')
for file in files:
    filenames_asm.append(file)

In [ ]:
pixel_features = createPixelfeaturesonAsmFiles(filenames_asm)

In [12]:
pixel_features = pd.read_pickle('./pixel_features.pkl')

In [21]:
pixel_features.rename(columns={"Id": "ID"},inplace=True)
pixel_features['ID'] =pixel_features['ID'].map(lambda x: x.rstrip('.asm'))

In [13]:
result_asm_pixels = pd.merge(result_asm,pixel_features,on='ID',how='right')

In [14]:
result_asm_pixels.head()

,ID,HEADER:,.text:,.Pav:,.idata:,.data:,.bss:,.rdata:,.edata:,.rsrc:,...,pxl_4990,pxl_4991,pxl_4992,pxl_4993,pxl_4994,pxl_4995,pxl_4996,pxl_4997,pxl_4998,pxl_4999
0,01kcPWA9K2BOxQeS5Rju,19.0,744.0,0.0,127.0,57.0,0.0,323.0,0.0,3.0,...,54,32,67,55,32,52,52,32,50,52
1,1E93CpP60RHFNiT5Qfvn,17.0,838.0,0.0,103.0,49.0,0.0,0.0,0.0,3.0,...,95,103,115,102,97,105,108,117,114,101
2,3ekVow2ajZHbTnBcsDfX,17.0,427.0,0.0,50.0,43.0,0.0,145.0,0.0,3.0,...,32,52,53,32,70,67,9,9,9,9
3,3X2nY7iQaPBIWDrAZqJe,17.0,227.0,0.0,43.0,19.0,0.0,0.0,0.0,3.0,...,104,44,9,48,68,68,55,50,68,68
4,46OZzdsSKDCFV8h7XWxf,17.0,402.0,0.0,59.0,170.0,0.0,0.0,0.0,3.0,...,116,32,116,121,112,101,58,32,80,117

In [15]:
result_x = pd.merge(result,result_asm_pixels.drop(['Class'], axis=1),on='ID', how='left')
result_y = result_x['Class']
result_x = result_x.drop(['ID','rtn','.BSS:','.CODE','Class'], axis=1)
result_x.head()

,00,01,12,23,34,45,56,67,78,89,...,pxl_4990,pxl_4991,pxl_4992,pxl_4993,pxl_4994,pxl_4995,pxl_4996,pxl_4997,pxl_4998,pxl_4999
0,0.016964,0.001913,0.000416,0.000515,0.000773,0.000328,0.000232,0.000594,0.003325,0.000749,...,48.0,48.0,52.0,48.0,49.0,48.0,52.0,70.0,32.0,67.0
1,0.015573,0.001892,0.000418,0.000496,0.000603,0.000319,0.000254,0.000711,0.001933,0.000765,...,48.0,48.0,52.0,48.0,49.0,48.0,52.0,65.0,32.0,55.0
2,0.042893,0.013293,0.200358,0.004261,0.002736,0.001422,0.001558,0.002281,0.004387,0.002623,...,56.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,32.0,32.0
3,0.096896,0.147197,0.055184,0.053327,0.007530,0.006588,0.007201,0.008824,0.009480,0.000295,...,109.0,111.0,118.0,32.0,32.0,32.0,32.0,32.0,91.0,101.0
4,0.049484,0.033302,0.012622,0.012010,0.002599,0.001462,0.001560,0.002245,0.004022,0.002632,...,95.0,52.0,48.0,49.0,48.0,55.0,55.0,13.0,10.0,46.0

In [16]:
X_train, X_test_merge, y_train, y_test_merge = train_test_split(result_x, result_y,stratify=result_y,test_size=0.20)
X_train_merge, X_cv_merge, y_train_merge, y_cv_merge = train_test_split(X_train, y_train,stratify=y_train,test_size=0.20)

In [26]:
x_cfl=XGBClassifier()

prams={
    'learning_rate':[0.01,0.03,0.05,0.1,0.15,0.2],
     'n_estimators':[100,200,500,1000,2000],
     'max_depth':[3,5,10],
    'colsample_bytree':[0.1,0.3,0.5,1],
    'subsample':[0.1,0.3,0.5,1]
}
random_cfl=RandomizedSearchCV(x_cfl,param_distributions=prams,verbose=10,n_jobs=-1,)
random_cfl.fit(X_train_merge, y_train_merge)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed: 35.6min
[Parallel(n_jobs=-1)]: Done  19 out of  30 | elapsed: 91.1min remaining: 52.7min
[Parallel(n_jobs=-1)]: Done  23 out of  30 | elapsed: 104.5min remaining: 31.8min
[Parallel(n_jobs=-1)]: Done  27 out of  30 | elapsed: 114.2min remaining: 12.7min
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed: 135.6min finished

RandomizedSearchCV(cv='warn', error_score='raise-deprecating',
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=0, reg_al...
                                           seed=None, silent=None, subsample=1,
                                           verbosity=1),
                   iid='warn', n_iter=10, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.1, 0.3, 0.5, 1],
                                        'learning_rate': [0.01, 0.03, 0.05, 0.1,
                                                          0.15, 0.2],
                                        'max_depth': [3, 5, 10],
                                        'n_estimators': [100, 200, 500, 1000,
                                                         2000],
                                        'subsample': [0.1, 0.3, 0.5, 1]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=10)

In [28]:
print(random_cfl.best_params_)

{'n_estimators': 500, 'max_depth': 3, 'colsample_bytree': 0.5, 'subsample': 0.3, 'learning_rate': 0.05}

In [17]:
x_cfl=XGBClassifier(n_estimators=500,max_depth=3,learning_rate=0.05,colsample_bytree=0.5,subsample=0.3,nthread=-1)
x_cfl.fit(X_train_merge,y_train_merge,verbose=True)
sig_clf = CalibratedClassifierCV(x_cfl, method="sigmoid")
sig_clf.fit(X_train_merge, y_train_merge)

CalibratedClassifierCV(base_estimator=XGBClassifier(base_score=0.5,
                                                    booster='gbtree',
                                                    colsample_bylevel=1,
                                                    colsample_bynode=1,
                                                    colsample_bytree=0.5,
                                                    gamma=0, learning_rate=0.05,
                                                    max_delta_step=0,
                                                    max_depth=3,
                                                    min_child_weight=1,
                                                    missing=None,
                                                    n_estimators=500, n_jobs=1,
                                                    nthread=-1,
                                                    objective='multi:softprob',
                                                    random_state=0, reg_alpha=0,
                                                    reg_lambda=1,
                                                    scale_pos_weight=1,
                                                    seed=None, silent=None,
                                                    subsample=0.3,
                                                    verbosity=1),
                       cv='warn', method='sigmoid')

In [2]:
predict_y = sig_clf.predict_proba(X_train_merge)
n_estimators=500
print ('For values of best number of estimators = ', n_estimators, "The train log loss is:",log_loss(y_train_merge, predict_y))
predict_y = sig_clf.predict_proba(X_cv_merge)
print('For values of best number of estimators = ', n_estimators, "The cross validation log loss is:",log_loss(y_cv_merge, predict_y))
predict_y = sig_clf.predict_proba(X_test_merge)
print('For values of best number of estimators = ', n_estimators, "The test log loss is:",log_loss(y_test_merge, predict_y))

For values of best number of estimators =  500 The train log loss is: 0.01436865462633297
For values of best number of estimators =  500 The cross validation log loss is: 0.04536974102589633
For values of best number of estimators =  500 The test log loss is: 0.022910702877029936